
.navbar {
    background-color: $colorPink;
    font-family: 'Oswald', sans-serif;
    font-size: 1.4em;
    font-weight: 999;
    border-bottom: 2px solid black;
    .logo {
        height: 150px;
        width: 150px;
    }
    #botonCarrito {
        border: none;
        border-radius: 50%;
        padding: 15px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: end;
        font-size: 30px;
        position: fixed;
        z-index: 999;
        margin-left: 250px;
    }
}

